<!-- Prettier not pretty configurated to this syntaxe maybe.. Sorry for lisibility -->
@if(tramsInCart$ | async; as tramsInCart;) { @if(tramsInCart.length <= 0) {
<p>Le panier est vide</p>
} @else { @for (tram of tramsInCart; track tram) {
<div class="flex gap-3">
  <p>{{ tram.count }} x {{ tram.model.name }}</p>
  <p (click)="deleteFromCart(tram)" class="cursor-pointer">🚮</p>
</div>
}
<p class="mt-10 cursor-pointer" (click)="clearCart()">
  Vider tout le panier 🔥
</p>
} } @else {
<p>Chargement...</p>
}
