<!-- Prettier not pretty configurated to this syntaxe maybe.. Sorry for lisibility -->
<div class="flex justify-center">
  @if(tramsInCart$ | async; as tramsInCart;) { @if(tramsInCart.length <= 0) {
  <div class="flex flex-col items-center p-10">
    <p class="text-xl">Le panier est vide 🥺</p>
    <button
      tuiButton
      class="mt-4"
      icon="tuiIconArrowLeft"
      iconDirection="left"
      variant="primary"
      [routerLink]="['/']">
      Retourner à la liste des trams
    </button>
  </div>
  } @else {
  <div class="flex gap-32">
    <div class="flex flex-col gap-8">
      @for (tram of tramsInCart; track tram) {
      <app-tram-card [tram]="tram.model">
        <p main class="text-xl font-bold">{{tram.count}}x</p>
        <div sub class="flex select-none flex-col gap-4">
          <div class="flex gap-2">
            <tui-svg
              (click)="decrease(tram)"
              class="cursor-pointer text-white hover:text-red-200"
              src="tuiIconMinusCircle"></tui-svg>
            <tui-svg
              (click)="increase(tram)"
              class="cursor-pointer text-white hover:text-green-200"
              src="tuiIconPlusCircle"></tui-svg>
          </div>
          <tui-svg
            (click)="delete(tram)"
            class="cursor-pointer text-white hover:text-red-400"
            src="tuiIconTrash"></tui-svg>
        </div>
      </app-tram-card>
      }
      <p class="mt-10 cursor-pointer" (click)="clearCart()">
        Vider tout le panier 🔥
      </p>
    </div>
    @if(total$ | async; as total;) {
    <app-cart-summary [total]="total"></app-cart-summary>
    } @else {
    <p>Chargement...</p>
    }
  </div>
  } } @else {
  <p>Chargement...</p>
  }
</div>
